img{
    max-width: 100%;
}

.intro {
        width: 100%;
        height: 100vh;
        padding: 100px 0;
        color: white;
        background: url(/src/img/background.png) no-repeat bottom center scroll;
        background-position: 30% 45%;
        background-color: grey;
        background-size: cover;
      }

.desafios{
    align-items: center;
    width: auto;
    height: 100px;
}
